@import './base/globals'; 
@import './vendors/normalize'; 
@import './components/components'; 
@import './layouts/navbar'; 
@import './pages/home';

body{
    font-family: $roboto; 
    background: $background_grey;
}

@media (max-width: 768px){

    /*Dispositivos medianos*/

};

@media (max-width: 576px){

    /*Celulares*/
    nav{

        padding: 0px 16px;

        .nav__navigation{
            /*Ahora se posiciona en forma de lista debajo del navbar*/
            position: fixed;
            top: 60px;
            left: 100%;
            width: 100%;
            height: calc(100vh - 60px);
            flex-direction: column;
            overflow-y: auto;

            background-color: $main-orange;
            line-height: 36px;
            margin: 0px;
            align-items: center;
            padding-left: 0;
            padding-top: 16px;
            transition: 0.6s ease all;

            & li{
                width: 100%;
                text-align: center;
            }
        }
    
        .nav__toggle{
            display: inline-block;
        }

        .nav__visible{
            left: 0; /*Se pasa al visible*/
        }
    }

};