/*Global components (USING BEM METODOLOGY)*/

.container{
    /*Contenedor que ocupa el 80% del ancho disponible (Para agregar márgenes laterales)*/
    width: 80%;
    max-width: 1200px;
    margin: 16px auto;
}

.grid-12{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.btn{
    /*Block*/
    border: 1px solid transparent; 
    padding: 0.4em 0.6em; 
    cursor: pointer;
    background-color: white; /*Color base del fondo*/
    text-transform: uppercase;
    border-radius: 16px;
    color: white; /*Color base de las letras*/
    width: max-content; /*Nunca permite que se "partan las palabras"*/
    transition: all 0.3s ease;
    text-decoration: none;
    margin: 8px 0;

    /*Elements*/
    &__primary{
        background-color: $main_orange;
    }

    &__danger{
        background-color: $danger_red;
    }

    &__nav{
        background-color: transparent;
        color: white;
    }

    &__nav:hover{
        border: 1px solid white;
    }

    &__primary_transparent{
        background-color: white;
        border: 1px solid $main_orange;
        color: $main_orange; 
    }

    &__danger_transparent{
        background-color: white;
        border: 1px solid $danger_red;
        color: $danger_red;
    }

    /*Modifiers*/
}

.subtitle{
    font-size: $lg;
    text-transform: uppercase;
    font-weight: bold;

    /*Modificadores de la clase*/
    &--white{
        color: white; 
    }

    &--orange{
        color: $main_orange;
    }
}

.title{
    font-size: $x_lg;
    text-transform: uppercase;
    font-weight: bold;

    &--orange{
        color: $main_orange; 
    }
}