.form-container {
    grid-column: 1/6;

    & .form-group{
        margin: 8px 0;
    }

    & label{
        display: block;
        margin-bottom: 8px;
    }
}

.auth-img {
    grid-column: 6/-1;
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
        width: 80%;
    }
}