<main>

    {{!-- Hero container --}}
    <section class="hero-section">
        <div class="hero-content">
            <h1>Travel, <span class="hero-let-unique">enjoy</span> and live a new and full life</h1>
            <p>Take a view of our incredible plans! We offer the best <span class="hero-let-unique">individual</span>, 
                <span class="hero-let-unique">groups</span> or <span class="hero-let-unique">familiar</span> plans for your vacations at the best prices.</p>
            <a href="/plans" class="btn btn__primary btn--hero">EXPLORE OUR PLANS</a>
        </div>
    </section>

    {{!-- Why section --}}
    <section class="why-section container">
        <header class="reasons__header">
                <h2 class="subtitle subtitle--black">WHY CHOOSE US?</h2>
        </header>

        <div class="reasons__container">
            <!--Card reason-->
            <article class="reasons-card">
                    <img src="images/vectors/earn.png" alt="Save your money, representational image" />
                    <p class="subtitle--black">SAVE YOUR MONEY</p>
                    <p class="parr parr--black">You don't have to spend large amounts of money for your dream vacation. We offer you the <span class="parr--orange"> best market prices </span>. </p>
            </article>
            <article class="reasons-card">
                <img src="images/vectors/dont_worry.png" alt="Don´t worry, representational image" />
                <p class="subtitle--black">DON´T WORRY ABOUT ANY RESERVATION</p>
                <p class="parr parr--black">We will take care of the reservations at the <span class="parr--orange"> best hotels and flight companies </span> for you.</p>
            </article>
            <article class="reasons-card">
                <img src="images/vectors/camping.png" alt="Variety of plans, representational image" />
                <p class="subtitle--black">DIFFERENT PLANS FOR DIFFERENT LIKES</p>
                <p class="parr parr--black">We offer you plans from trips to different countries to <span class="parr--orange"> camping in the forest </span>.</p>
            </article>
            <article class="reasons-card">
                <img src="images/vectors/customer_loves.png" alt="Our clients love their experiences, representational image" />
                <p class="subtitle--black">PEOPLE LOVE OUR EXPERIENCES</p>
                <p class="parr parr--black">All our clients agree that we create <span class="parr--orange"> unforgettable experiences </span>.</p>
            </article>
            <article class="reasons-card">
                <img src="images/vectors/time.png" alt="Booking in a short time, representational image" />
                <p class="subtitle--black">JUST 15 MINUTES RESERVATION</p>
                <p class="parr parr--black">We know that your time is important, so <span class="parr--orange"> we have everything prepared for you. </span> </p>
            </article>
        </div>
    </section>

    {{!-- Carrousel section --}}
    
    {{!Primero verifica que sí existan datos para el carrousel}}
    {{#if carrouselData}}

        <section class='carrousel-section'>
            <h2 class="subtitle subtitle--white">DIFFERENT PLANS FOR DIFFERENT LIKES</h2>
            <div class='container'>
                <div class='splide'>
                    <div class='splide__track'>
                        <div class='splide__list carrouser-container'>
                            {{#each carrouselData}}
                                <div class='splide__slide carrousel-card'>
                                    <img loading="lazy" src='{{plansImageUrl}}' alt='{{plansName}}' class='carrousel-card__image' />
                                    <div class='carrousel-card__texts'>
                                        <p class='carrousel-card__title'>{{plansName}}</p>
                                        <p class='carrousel-card__country'>{{plansCountry}}</p>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {{/if}}

</main>
<script src='/scripts/splide.min.js'></script>
<script src='/scripts/slider.js'></script>