<main>

    {{!-- Hero container --}}
    <section class="hero-section">
        <div class="hero-content">
            <h1>Travel, <span class="hero-let-unique">enjoy</span> and live a new and full life</h1>
            <p>Take a view of our incredible plans! We offer the best <span class="hero-let-unique">individual</span>, 
                <span class="hero-let-unique">groups</span> or <span class="hero-let-unique">familiar</span> plans for your vacations at the best prices.</p>
            <a href="/plans" class="btn btn__primary btn--hero">EXPLORE OUR PLANS</a>
        </div>
    </section>

    {{!-- Why section --}}
    <!--
    <section class="why-section">

    </section> -->

    {{!-- Carrousel section --}}
    
    {{!Primero verifica que sí existan datos para el carrousel}}
    {{#if carrouselData}}

        <section class='carrousel-section'>
            <h2 class="subtitle subtitle--white">DIFFERENT PLANS FOR DIFFERENT LIKES</h2>
            <div class='container'>
                <div class='splide'>
                    <div class='splide__track'>
                        <div class='splide__list carrouser-container'>
                            {{#each carrouselData}}
                                <div class='splide__slide carrousel-card'>
                                    <img src='{{plansImageUrl}}' alt='{{plansName}}' class='carrousel-card__image' />
                                    <div class='carrousel-card__texts'>
                                        <p class='carrousel-card__title'>{{plansName}}</p>
                                        <p class='carrousel-card__country'>{{plansCountry}}</p>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {{/if}}

</main>
<script src='/scripts/splide.min.js'></script>
<script src='/scripts/slider.js'></script>