<div class='container container--100vh'>

    <main>
        <h1 class='title'>Welcome back <span class='title--orange'>{{user.usersUsername}}</span></h1>

        <div class="dashboard__container">
            <div class="dashboard__card">
                <img src="/images/vectors/create_an_account.png" alt="Create an account option image">
                <a href="/admin/createAccount" class="btn btn__primary">Create an account</a>
            </div>

            <div class="dashboard__card">
                <img src="/images/vectors/add_plan.png" alt="Create plan option image">
                <a href="/admin/plans" class="btn btn__primary">Plans management</a>
            </div>

            <div class="dashboard__card">
                <img src="/images/vectors/explore.png" alt="Change to users dashboard image">
                <a href="/user/dashboard" class="btn btn__primary">My user dashboard</a>
            </div>
            
        </div>
    </main>

</div>