<div class='container container--100vh'>

    <main>
        <h1 class='title'>Welcome back <span class='title--orange'>{{user.usersUsername}}</span></h1>

        <div class="dashboard__container">
            <div class="dashboard__card">
                <img src="/images/vectors/create_an_account.png" alt="View my reservations, representational image">
                <a href="/user/plans" class="btn btn__primary">My plans</a>
            </div>

            <div class="dashboard__card">
                <img src="/images/vectors/add_plan.png" alt="Explore new plans, representational image">
                <a href="/plans" class="btn btn__primary">Explore plans</a>
            </div>

            <div class="dashboard__card">
                <img src="/images/vectors/update_account.png" alt="Update account, representational image">
                <a href="/users/edit" class="btn btn__primary">Update my Account</a>
            </div>
            
        </div>
    </main>

</div>