/* Colors */
$main_orange: #FF8800; 
$background_grey: #FAFAFA; 
$dark: #000000; 
$light: #ffffff; 
$danger_red: #FF0F00; 
$dark_grey_1: #EBEBEB; 
$soft_grey_1: #F5F5F5; 
$soft_text: #8D8D8D; 
$input_placeholder: #ABABAB; 

/*Font families*/
$roboto: 'Roboto', sans-serif; 

/*Font sizes*/
$x_sm: 12px; 
$sm: 14px; 
$md: 16px; 
$lg: 18px; 
$x_lg: 20px; 