<div class="container container--100vh">

    <div class="grid-12 container--rounded">
        <div class="form-container">
            <h2>SIGN IN</h2>
            <form action="/users/signin" method="post">
                <div class="form-group">
                    <label for="username" class="subtitle--orange">Username</label>
                    <input type="text" name="username" id="username" placeholder="Your username here" class="input">
                </div>
                <div class="form-group">
                    <label for="password" class="subtitle--orange">Password</label>
                    <input type="password" name="password" id="password" placeholder="***********" class="input">
                </div>
                <div class="form-group">
                    <p class="parr parr--black">Doesn't have an account? <a href="/users/signup/" class="parr--orange">SignUp</a></p>
                    <button class="btn btn__primary">
                        LOG INTO MY ACCOUNT
                    </button>
                </div>
            </form>
        </div>
        <div class="auth-img">
            <img src="/images/login_vector.svg" alt="image of signup">
        </div>
    </div>

</div>